<div class="jumbotron">
    <h1 class="display-4">Our Group - Group Contract</h1>
    <p class="lead">We are Group 6.
        Communication: We plan on communicating through text message atleast twice per week
        Expectations: All members must fully participate in all activities that are to be turned in, Each group member
        should contribute maximum effort throughout our time working together
        Values: As a group we value maximum effort and communication between group members.</p>
</div>

<div class="container mt-5">
    <h2>About Us</h2>

    <div class="card-group">
        <div class="card">
            <img src="AdamPicture" alt="Adam Headshot">
            <div class="card-body">
                <h5 class="card-title">Adam Daud</h5>
                <p class="card-text">Good at: GUI Design</p>
                <p class="card-text">Challenges:Java coding</p>
            </div>
        </div>

        <div class="card">
            <img src="NickPicture.png" alt="Nick in soccer uniform">
            <div class="card-body">
                <h5 class="card-title">Nick Ruggeri</h5>
                <p class="card-text">Good at: CSS and Javascript</p>
                <p class="card-text">Challenges: GUI Design and bootstrap</p>
            </div>
        </div>

        <div class="card">
            <img src="ConnorPicture" alt="Connor in Hockey Uniform">
            <div class="card-body">
                <h5 class="card-title">Connor Smith</h5>
                <p class="card-text">Good at: Bootstrap and Jquery</p>
                <p class="card-text">Challenges: Java programming</p>
            </div>
        </div>

        <div class="card">
            <img src="AlexanderPicture.png" alt="Alexander playing guitar">
            <div class="card-body">
                <h5 class="card-title">Alexander Gracey</h5>
                <p class="card-text">Good at:Programming with java script</p>
                <p class="card-text">Challenges: Immune System</p>
            </div>
        </div>

    </div>
</div>
